<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Товар</title>
</head>
<body>
    <form method="post">
        <input type="text" name="name" placeholder="Название покупки">
        <input type="number" name="cost" placeholder="Цена">
        <input type="datetime-local" name="date" placeholder="истечение срока годности">
        <button type="submit">Добавить товар</button>
    </form>

</body>
</html>